html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 0;
  cursor: grab;
  overflow: hidden;
}

.canvas:active {
  cursor: grabbing;
}

.canvas-inner {
  width: 10000px;
  height: 10000px;
  position: relative;
  background-color: white;
  background-image: radial-gradient(#ccc 1px, transparent 1px);
  background-size: 20px 20px;
}

